<app-header></app-header>
<div class="app-central-content">
  <mat-card>
    <form>
      <mat-form-field>
        <input matInput [formControl]="interviewer" placeholder="Interviewer" required>  
        <mat-error *ngIf="interviewer.invalid">You Must enter an Inteviewer</mat-error>    
      </mat-form-field>
      <mat-form-field >
        <input matInput [formControl]="candidate"  placeholder="Candidate" required>
        <mat-error *ngIf="candidate.invalid">You Must enter a Candidate</mat-error>    
      </mat-form-field>
      <mat-form-field >
        <mat-select placeholder="Applying For" [formControl]="questionnaireControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let q of questionnaires" [value]="q">
            {{q.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="questionnaireControl.hasError('required')">You Must Select a Questionnaire</mat-error>
        <mat-hint> Currently only Java Developer has data</mat-hint>
      </mat-form-field>     
      <button mat-raised-button color="primary" (click)=startInterview()>Start</button>
    </form>
  </mat-card>
</div>
<app-console></app-console>
