<mat-expansion-panel class="topic-header">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{topic.title}}
    </mat-panel-title>
    <mat-panel-description>
        Global Average Scoring {{topic.glbAvg}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul class="question-list">
    <li *ngFor="let eachQ of topic.questions" class="question-list-item">
      <app-question [question]=eachQ [topic]=topic></app-question>  
    </li>
  </ul>
  <button mat-raised-button color="primary" (click)="addQuestion(topic.id, topic.title)">Add Quesion</button>
</mat-expansion-panel>

