<mat-expansion-panel class="console-panel" [expanded]="true">
  <mat-expansion-panel-header class="console-panel-header">
      <mat-panel-title>
        Application Console
      </mat-panel-title>
  </mat-expansion-panel-header>
    <ol reversed *ngIf="logService.logEntries.length">
      <li *ngFor="let eachEntry of logService.logEntries.reverse()"> {{ eachEntry }}</li>
    </ol>
    <div class="content-to-right-box">
      <button class="clear-button" mat-button (click)="clearLogs()" matTooltip="Can NOT be undone">Clear Console</button>
    </div>
</mat-expansion-panel>
