.console-panel{
    margin-top: 35px;
    background-color: cadetblue;
}
.mat-expansion-panel-header-title{
    color: #36548a;
}
::ng-deep .console-panel .mat-expansion-panel-body {
    background-color: #3c6667;
    color: cornflowerblue;
}
.content-to-right-box {
    text-align: right;
    margin-top: 15px;
}
.save-button {
    margin-right: 30px;
}