<mat-expansion-panel class="question-header" [expanded]="isExpanded" (opened)="isExpanded = true" (closed)="isExpanded = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="avg" matTooltip="Global Average">
          {{ question.glbAvg }}
      </span>
      <span *ngIf="answeredWithGrade" class="grade" matTooltip="Answered With Grade">
        {{ answeredWithGrade }}
    </span>
      {{question.title}}
    </mat-panel-title>
    <span class="srty" matTooltip="Seniority">
      {{question.minimunSeniority}}
    </span>
    <span class="asked" matTooltip="Asked {{question.countOfUsage}} times">
      {{question.countOfUsage}}
    </span>
  </mat-expansion-panel-header>
    <app-answer [question]=question [topic]=topic (onSaved)="answerSaved($event)"></app-answer>
</mat-expansion-panel>

